body {
    background-color: lightyellow;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
}

.pexels-license {
    font-style: italic;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

header {
    border-bottom: 1px solid black;
    text-align: center;
}

h2 {
    text-align: center;
}
